---

---

<div class='flex justify-between items-center'>
  <h3 class='font-handwriting text-3xl'>Abhishek Rathore</h3>
  <ul class="flex gap-8 font-poppins text-xl">
    <li>About</li>
    <li>Projects</li>
    <li>Contact</li>
  </ul>
</div>

